$red : #CD8A7C;
$blue : #7CBCCD;

.box {
  background: $red;
  border: 1px solid black;
  padding: 40px 80px;
  .button {
    font-weight: bold;
    text-align: center;
    background: red;
    color: yellow;
  }
}

.output {
  background: $blue;
  padding: 40px 80px;
  }

.jumbotron {
    text-align: center;
    text-decoration: underline;
  }
